.production__heading {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  max-width: 126px;
  margin: 30px auto;
  margin-left: 91px;
  position: relative;
  &::before {
    content: "";
    width: 32px;
    height: 30px;
    background-image: url("../img/icon-video.svg");
    position: absolute;
    top: 5px;
    left: -60px;
    filter: $svg-green-color;
  }
}
.catalog__production {
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 260px;
}
.production__description {
  max-width: 183px;
  font-size: 13px;
  line-height: 1.85;
  color: $content-color;
  margin: auto;
  padding-top: 34px;
}
.button {
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-align: center;
  color: $content-color;
  border: 2px solid $content-color;
  padding: 20px 26px 16px 26px;
  margin: auto;
  margin-top: 30px;
}
@media (min-width: $tablet-width) {
  .production__image {
    order: 0;
  }
  .production__heading {
    display: flex;
    order: 1;
    max-width: 241px;
    margin: 41px 0;
    margin-left: 107px;
  }
  .catalog__production {
    width: 668px;
    margin: auto;
    display: flex;
  }
  .production__description {
    order: 3;
    max-width: 581px;
    padding: 0;
  }
  .button {
    order: 4;
    max-width: 584px;
    margin: 30px 40px;
  }
}
