.catalog-main__header {
  display: flex;
  justify-content: center;
  background-color: $grey;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 74px;
}

.product {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.product__description {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  margin-bottom: 0;
  max-width: 170px;
  padding-left: 30px;
}

.product__description-additional {
  font-size: 13px;
  line-height: 2.31;
  text-align: left;
  color: $content-color;
  position: relative;
  padding-left: 30px;
}

.product__order {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 30px;
}

.product__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
  color: #000000;
}

.product__button {
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/icon-cart.svg");
    width: 20px;
    height: 19px;
    position: absolute;
    top: 15px;
    right: 0;
    opacity: 0.2;
  }
}

.product__description-wrap {
  border: 1px solid #ececec;
  margin-top: -5px;
}

@media (min-width: $tablet-width) {
  .product__wrap {
    display: flex;
    margin-bottom: 54px;
  }

  .product__description-wrap {
    width: 335px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .product__description {
    max-width: 232px;
    padding-top: 29px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .product__description-additional {
    margin-top: 15px;
  }

  .product__order {
    padding: 0;
    margin-top: auto;
  }

  .product__description--basket {
    max-width: 200px;
  }

  .catalog-main__products {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main__header {
    padding: 105px 0;
    position: relative;
    margin-top: -110px;

    &::after {
      content: "Бесплатная доставка по России";
      position: absolute;
      top: 24px;
      right: 50px;
      font-size: 15px;
      line-height: 1.6;
      text-align: right;
      color: #444444;
    }
  }

  .catalog-main__list {
    display: flex;
    // max-width: 1049px;
    padding: 0;
  }

  .product__wrap {
    display: flex;
    flex-direction: column;
  }

  .product {
    margin: auto;
  }

  .product__description-wrap {
    width: auto;
  }

  .product__description-additional {
    margin-bottom: 45px;
  }

  .product__description-additional--basket {
    margin-bottom: 22px;
  }

  .site-list__item--new,
  .site-list__item--sale {
    z-index: 100;
  }
}
