.catalog-main__header {
  display: flex;
  justify-content: center;
  background-color: $grey;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 74px;
}
.catalog-main__list {
  padding-left: 30px;
  padding-right: 30px;
}
.product {
  display: flex;
  justify-content: center;
}
.product__description {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  margin-bottom: 0;
  max-width: 170px;
  padding-left: 30px;
}

.product__description-additional {
  font-size: 13px;
  line-height: 2.31;
  text-align: left;
  color: $content-color;
  position: relative;
  padding-left: 30px;
  margin-bottom: 27px;
  display: block;
}

.product__order {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px 30px;
}

.product__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
  color: #000000;
}

.product__button {
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/icon-cart.svg");
    width: 20px;
    height: 19px;
    position: absolute;
    top: 15px;
    right: 0px;
    opacity: 0.2;
  }
}

.product__description-wrap {
  border: 1px solid #ececec;
  margin-bottom: 30px;
  margin-top: -5px;
}
@media (min-width: $tablet-width) {
  .product__wrap {
    width: 669px;
    height: 334px;
    display: flex;
    margin-bottom: 54px;
  }
  .product__description-wrap {
    width: 335px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  .product__description {
    max-width: 232px;
    padding-top: 29px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .product__description-additional {
    padding-top: 15px;
  }
  .product__order {
    padding: 0px;
    margin-top: auto;
  }
  .product__description--basket {
    max-width: 200px;
  }
}
