.main-reviews {
  display: flex;
  flex-direction: column;
}

.main-reviews__heading {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin-left: 10%;
  margin-right: 10%;
}

.main-reviews__text {
  margin-top: 1%;
  font-size: 15px;
  line-height: 2;
  color: $content-color;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
}
.main-revies__bottom-wrap {
  margin-left: 10%;
  margin-right: 10%;
}
.main-reviews__review-author {
  margin-top: 10%;
}

.author__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  margin: 0;
}

.author__nickname {
  margin-top: 0;
}

.main-reviews__buttons {
  display: flex;
  justify-content: center;
  margin-top: 13%;
}

.main-reviews__button {
  min-height: 52px;
  min-width: 50%;
}

.main-reviews__button--left {
  border-right: 1px solid $border-color;
  background-color: $white;
  position: relative;

  &::before {
    content: "";
    width: 50px;
    height: 26px;
    position: absolute;
    top: 10px;
    left: 35px;
    background-image: url("../img/icon-left-arrow.svg");
  }
}

.main-reviews__button--right {
  border-left: 1px solid $border-color;
  background-color: $white;
  position: relative;

  &::before {
    content: "";
    width: 50px;
    height: 26px;
    position: absolute;
    top: 10px;
    right: 40px;
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.button-reviews {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 2px solid $content-color;
  padding: 16px 0;
  font-size: 17px;
  font-weight: bold;
  color: $content-color;
  margin: 11% 10% 4% 9%;
}

@media (min-width: $tablet-width) {
  .main-zigzag--reviews {
    display: none;
  }

  .main-reviews {
    z-index: 12;
    position: relative;
    margin-top: 6%;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/review@1x.jpg");
      height: 457px;
      width: 350px;
      top: -4px;
      z-index: -10;
    }
  }
  .author__name,
  .author__nickname {
    font-size: 18px;
  }
  .main-reviews__heading {
    font-size: 43px;
    font-weight: bold;
    line-height: 1.16;
    margin-left: 6%;
    margin-top: 10%;
  }

  .main-reviews__text {
    max-width: 645px;
    font-size: 17px;
    line-height: 1.76;
    margin: 1% 0 0 6%;
  }

  .main-revies__bottom-wrap {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .main-reviews__buttons {
    margin-top: 3%;
  }

  .button-reviews {
    position: absolute;
    right: -30px;
    top: -10px;
    width: 175px;
  }

  .main-reviews__button {
    height: 26px;
    border: none;
    margin-top: 50px;
    justify-content: space-between;
    padding: 0;
  }
  .main-reviews__button--left::before {
    left: -128px;
  }
  .main-reviews__button--right::before {
    right: -10px;
  }
}

@media (min-width: $desktop-width) {
  .main-reviews__heading {
    margin-left: 288px;
    font-size: 53px;
    font-weight: bold;
    line-height: 1.08;
    margin-top: 3%;
  }

  .main-reviews__text {
    max-width: 778px;
    font-size: 17px;
    line-height: 1.76;
    margin-left: 224px;
    margin-top: 0;
    margin-bottom: 4%;
    margin-left: 23%;
  }

  .main-revies__bottom-wrap {
    margin-left: 292px;
  }

  .author__nickname {
    font-size: 17px;
  }

  .main-reviews__button {
    width: 50px;
    height: 26px;
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 50px;
  }

  .main-reviews__button--right {
    width: 50px;
    height: 26px;
    &::before {
      right: -45px;
      top: -10px;
    }
  }
  .main-reviews__button--left {
    width: 50px;
    height: 26px;
    &::before {
      left: 10px;
      top: -10px;
    }
  }
  .main-reviews::after {
    top: -31px;
    left: 116px;
  }
  .main-reviews__review-author {
    margin-top: 0;
  }
  .author__name {
    margin-bottom: 3%;
  }
  .button-reviews {
    position: absolute;
    right: -18px;
    top: -93px;
    width: 175px;
  }
  .main-reviews__button {
    margin-top: 0;
  }
}
