.main-about {
  display: block;
}

.main-about__header {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 13%;
  margin-left: 9%;
}

.main-about__features {
  margin-left: 9%;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-about__header {
    font-size: 43px;
    line-height: 1.16;
    margin-left: 6%;
    margin-top: 9%;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-about {
    margin-left: 15%;
    margin-right: 20%;
  }

  .main-about__header {
    margin-right: auto;
    font-size: 53px;
    margin-top: 10%;
    margin-left: 11%;
  }

  .main-about__features {
    margin-left: 0;
  }
}
