.main-product {
  margin-top: 34px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.main-product__header {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.main-product__additional-header {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: $seafoam-blue;
}

.main-product__description {
  font-size: 15px;
  line-height: 1.6;
  max-width: 245px;
  color: $content-color;
  margin-left: 30px;
}

.main-product__advantages {
  border-collapse: collapse;
  margin-left: 30px;
}

.product-advantages__name {
  font-size: 15px;
  line-height: 1.33;
  color: $content-color;
  padding-right: 30px;
  border-bottom: 1px solid $grey;
}

.product-advantages__value {
  font-size: 15px;
  line-height: 1.33;
  color: $content-color;
  border-bottom: 1px solid $grey;
}

.main-product__image {
  position: absolute;
  text-align: center;
  top: 35%;
  margin-left: 5%;
  margin-right: 5%;
}
.main-product__image--mobile {
  max-width: initial;
}

.main-product__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: center;
  color: $content-color;
  display: flex;
  justify-content: center;
  margin-top: 385px;
}

.main-product__header-wrap {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: row;
}
.main-product__advantages-wrap {
  display: flex;
  flex-direction: row;
}
.button--order {
  margin-left: 30px;
}
@media (min-width: $tablet-width) {
  .main-product {
    margin-top: 47px;
    position: relative;
  }
  .main-product__header {
    font-size: 43px;
    font-weight: bold;
    line-height: 1.16;
    min-width: 420px;
  }
  .main-product__header-wrap {
    display: flex;
    margin-left: 10%;
    margin-right: 5%;
  }
  .main-product__additional-header {
    max-width: 70px;
    margin-left: 23%;
    margin-top: 5px;
  }
  .main-product__description-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: auto;
  }
  .main-product__image {
    position: relative;
    top: 20px;
  }
  .main-product__price {
    margin-top: 30px;
  }
  .main-product__advantages-wrap {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
  }
  .main-product__description {
    max-width: 282px;
    font-size: 17px;
    line-height: 1.76;
    margin: 0;
  }
  .product-advantages__name {
    padding: 10px 0;
    font-size: 15px;
    line-height: 1.33;
  }
  .main-product__price {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 60px;
  }
  .main-product__price {
    margin-top: 35px;
  }
  .main-product__advantages {
    margin-top: 15px;
    margin-left: 0;
  }
  .main-product__image--mobile {
    max-width: auto;
  }
  .button--order {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-product {
    position: relative;
    margin-top: 70px;
  }
  .categories-list__element {
    max-width: 525px;
  }
  .main-product__header-wrap {
    display: flex;
    position: absolute;
    top: 90px;
    left: 130px;
    z-index: 10;
  }
  .main-product__header {
    order: 1;
    min-width: 515px;
    margin: 0;
    padding: 0;
    font-size: 53px;
  }
  .main-product__additional-header {
    order: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -140px;
    top: 10px;
  }
  .main-product__description-wrap {
    margin-top: auto;
    margin-left: auto;
    margin-right: 60px;
  }
}
