.main-reviews {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}
.main-reviews__heading {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
}
.main-reviews__text {
  font-size: 15px;
  line-height: 2;
  max-width: 255px;
  color: $content-color;
}
.main-reviews__review-author {
  margin-top: 40px;
  max-width: 241px;
}
.author__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  margin-bottom: 10px;
}
.author__nickname {
  margin-top: 0;
}
.main-reviews__buttons {
  display: flex;
  justify-content: space-around;
}
.main-reviews__button {
  min-height: 52px;
  min-width: 130px;
}
.main-reviews__button--left {
  border-right: 1px solid $border-color;
  background-color: $white;
  position: relative;
  &::before {
    content: "";
    width: 50px;
    height: 26px;
    position: absolute;
    top: 10px;
    left: 40px;
    background-image: url("../img/icon-left-arrow.svg");
  }
}
.main-reviews__button--right {
  border-left: 1px solid $border-color;
  background-color: $white;
  position: relative;
  &::before {
    content: "";
    width: 50px;
    height: 26px;
    position: absolute;
    top: 10px;
    right: 40px;
    background-image: url("../img/icon-right-arrow.svg");
  }
}
