.main-footer {
  background-color: $grey;
}

.main-footer__socials-list {
  display: flex;
  justify-content: center;
  padding: 10% 0;
  position: relative;
  margin-bottom: 0;
}

.links-list__element {
  list-style-type: none;
  padding-left: 2%;
  padding-right: 2%;
}

.link-wrap__item {
  list-style: none;
  position: relative;
  padding-right: 40px;
}

@mixin socials-icon {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.link-wrap__item--instagram {
  padding-right: 55px;

  &::before {
    @include socials-icon();
    background-image: url("../img/icon-insta.svg");
    height: 21px;
    width: 22px;
    top: -4px;
    left: 10px;
  }
}

.link-wrap__item--fb {
  &::before {
    @include socials-icon();
    background-image: url("../img/icon-fb.svg");
    height: 27px;
    width: 15px;
    top: -8px;
    left: 4px;
  }
}

.link-wrap__item--twitter {
  &::before {
    @include socials-icon();
    background-image: url("../img/icon-twitter.svg");
    height: 20px;
    width: 23px;
    top: -2px;
    left: 6px;
  }
}

.footer-creator__info {
  display: flex;
  justify-content: center;
  padding: 8% 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.project-creator {
  font-size: 19px;
  font-weight: bold;
  line-height: 0.95;
  margin-right: 50px;
}

.project-link {
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/logo-htmlacademy.svg");
    filter: $svg-green-color;
    height: 34px;
    width: 27px;
    position: absolute;
    top: -7px;
    left: -22px;
  }
}

.main-footer__image {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    justify-content: space-around;
    min-height: 143px;
  }

  .main-footer__image {
    display: block;
    padding-top: 50px;
    padding-left: 16px;
  }

  .links-list {
    padding-top: 0;
    margin: 0;
    padding-left: 83px;

    &::after {
      border: none;
    }
  }

  .main-footer__socials {
    padding-top: 65px;
  }

  .footer-creator {
    padding-top: 6%;
  }

  .project-creator {
    margin-right: 72px;
  }

  .footer-creator__info {
    border: none;
  }

  .project-link {
    &::after {
      left: -46px;
    }
  }

  .link-wrap__item--instagram::before {
    &::before {
      top: -4px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    justify-content: space-between;
  }

  .main-footer__image {
    padding-left: 9%;
  }

  .footer-creator {
    padding-right: 3%;
    padding-top: 4%;

    &::after {
      top: -3px;
      left: -41px;
    }
  }

  .link-wrap__item--twitter {
    &::before {
      left: 10px;
    }
  }

  .links-list {
    padding-left: 140px;
  }

  .footer-creator__info {
    padding: 5% 58px;
  }
}
