.page-header {
  background-color: $white;
}

.page-header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 20px 0;
}

.page-header__label {
  &::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    height: 20px;
    width: 15px;
    background-image: url("../img/icon-menu-open.svg");
    display: block;
  }
}

.page-header__toggle:not(:checked) ~ .main-nav {
  display: none;
}

.page-header__toggle:checked ~ .main-nav {
  display: block;
  margin-top: -25px;
}

.main-nav__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.site-list__item {
  padding-top: 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  list-style: none;
  border-top: 1px solid $grey;
  padding-bottom: 40px;
  padding-left: 35%;
  padding-right: 15%;
}

.site-list__item--last {
  border-bottom: 1px solid $grey;
}

.site-list__item-link {
  text-decoration: none;
  color: #000000;
}
