.page-header {
  background-color: $white;
  min-height: 80px;
  position: relative;
}

.page-header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 20px 0;
}

.page-header__button {
  background-image: url("../img/icon-menu-open.svg");
  display: block;
  position: absolute;
  top: 40%;
  right: 11%;
  height: 14px;
  width: 15px;
  border: 0;
}

.main-nav__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.site-list__item {
  padding-top: 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  list-style: none;
  border-top: 1px solid $grey;
  padding-bottom: 40px;
  padding-left: 35%;
  padding-right: 15%;
}

@mixin header-menu-icon {
  content: "";
  position: absolute;
  top: 35px;
  left: 20%;
  opacity: 0.2;
}

.site-list__item--cart {
  border-bottom: 1px solid $grey;
  position: relative;

  &::after {
    width: 21px;
    height: 18px;
    background-image: url("../img/icon-cart.svg");

    @include header-menu-icon();
  }
}

.site-list__item--sale,
.site-list__item--new {
  display: none;
}

.site-list__item-link {
  text-decoration: none;
  color: #000000;
}

.site-list__item--search {
  position: relative;

  &::after {
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.svg");

    @include header-menu-icon();
  }
}
.page-header__wrap-logo {
  position: absolute;
  left: 36%;
  top: 24%;
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
  }

  .main-nav {
    margin-left: auto;
    margin-right: auto;
  }

  .page-header__button {
    display: none;
  }

  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0;
  }

  .site-list__item {
    border: none;
    padding: 36px;
    margin: 0;
  }

  .site-list__item--catalog {
    order: 2;
  }

  .site-list__item--order {
    order: 3;
  }

  .site-list__item--search {
    order: 0;
    margin-left: 50%;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;

    &::after {
      left: 40%;
    }
  }

  .site-list__item--cart {
    order: 1;
    padding-left: 86px;

    &::after {
      top: 38px;
      left: 13%;
    }
  }

  .site-list__item--new,
  .site-list__item--sale {
    display: none;
  }

  .site-list__item-link--search {
    display: none;
  }

  .page-header__wrap-logo {
    position: absolute;
    height: 50px;
    width: 130px;
    top: 22px;
    left: 51px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--catalog {
    order: 0;
  }

  .site-list__item--order {
    order: 1;
  }

  .site-list__item--search {
    order: 2;
    margin-left: 28%;
  }

  .site-list__item--cart {
    order: 3;
  }

  .site-list__item--new {
    display: block;
    order: 4;
  }

  .site-list__item--sale {
    display: block;
    order: 4;
  }

  .page-header__wrap-logo {
    position: absolute;
    left: 43%;
  }
}
