@import "variables.scss";
@import "blocks/page-header.scss";
@import "blocks/main-catalog.scss";
@import "blocks/main-product.scss";
@import "blocks/main-about.scss";
@import "blocks/main-footer.scss";

@import "blocks/catalog-main.scss";
@import "blocks/catalog-products.scss";

body {
  font-family: OpenSans, sans-serif;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
