$white: #ffffff;
$headings-color: #010000;
$seafoam-blue: #63d1bb;
$greeny-blue: #56c3b2;
$content-color: #444444;
$grey: #f1f1f1;
$svg-green-color: invert(88%) sepia(15%) saturate(1247%) hue-rotate(106deg)
  brightness(86%) contrast(89%);
$tablet-width: 772px;
$desktop-width: 1150px;
